<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script>

            let input_items = document.querySelectorAll('input');
            input_items.forEach((input_item)=>{
                input_item.classList.add('form-control');
            })
            selects = document.querySelectorAll('select');
            selects.forEach((select_item)=>{
                select_item.classList.add('form-select');
            })
            let labels = document.querySelectorAll('label');
            labels.forEach((label_item)=>{
                label_item.classList.add('form-label');
            })
            let buttons = document.querySelectorAll('button');
            buttons.forEach((button_item)=>{
                button_item.classList.add('btn');
            })
            let look_alike_buttons=document.querySelectorAll('.btn');
            look_alike_buttons.forEach((look_alike_button)=>{
                look_alike_button.classList.add('mt-3');
                if(look_alike_button.textContent.includes('Modifier')){
                    look_alike_button.classList.add('btn-secondary');
                }
                else if(look_alike_button.textContent.includes('Supprimer')){
                    look_alike_button.classList.add('btn-danger');
                }
                else{
                    look_alike_button.classList.add('btn-primary')
                }
            })
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
