<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5298b9;"> <!-- Utilisation de l'attribut style pour la couleur personnalisée -->
    <div class="container entete-container">
        <a class="navbar-brand" href="#"><h2 class="h2-container">InterimCo</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="javascript:history.back(); return false;">Retour</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn dropdown-toggle" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.userIdentifier }}
                    </button>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href={{ path('profile') }}>Profil</a>
                        <a class="dropdown-item" href=#>Changement de login</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>
