{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'entete.twig' %}

    <div class="container">
        <h1 class="mt-5 text-center">Accueil</h1>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="list-group" style="font-size: 20px; background-color: #ffffff; border: none; margin-top: 10px; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <a href="{{ path('afficher_contrats', {etat: 'en_cours_de_traitement'}) }}" class="list-group-item list-group-item-action">Contrats en cours de traitement</a>
                    <a href="{{ path('afficher_contrats', {etat: 'accepte'}) }}" class="list-group-item list-group-item-action">Contrats acceptés</a>
                    <a href="{{ path('afficher_contrats', {etat: 'refuse'}) }}" class="list-group-item list-group-item-action">Contrats refusés</a>
                    <a href="{{ path('afficher_contrats', {etat: 'finalise'}) }}" class="list-group-item list-group-item-action">Contrats finalisés</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
